doctype html
html
  head
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans')
    link(rel='stylesheet', href='/css/style.css')
    script(src='components/jquery/dist/jquery.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/index.js')</b>
    title MusicEngine
  body
    h1 Admin side