footer.page-footer
  .container
    .row
      .col.l4.s12
        h5.white-text Mời cafe
        p.grey-text.text-lighten-4
          | Ứng dụng này được phát triển và phân phối một cái miễn phí hoàn toàn, Nhưng chúng tôi muốn vui lòng khi nhận được donate của bạn, nó sẽ giúp project này có thêm cơ hội phát triển tốt hơn nữa.
        form#paypal-donate(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
          input(type='hidden', name='cmd', value='_s-xclick')
          input(type='hidden', name='encrypted', value='-----BEGIN PKCS7-----MIIHTwYJKoZIhvcNAQcEoIIHQDCCBzwCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYCR0s9uJAJpnyvXGgxCKRXdOr+us59JvCRWxRIbaByoX6pHwvbLBXdawZdSjnsVXgnzZkuwyCC3SQpnmVAtxWu+fAHsg7nQhPZHi7sw8ucq0I6Lvd3yokIEolyP29vou6/gEvKd5lyQgl8iFGRPBLXBbCbnAGTKcEA2BOu+NeNbSTELMAkGBSsOAwIaBQAwgcwGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIkO1Nj1o6Le+Agahl2qc2fmXhkzybjYRHLGA0HGsu94Z1bN0wICxHZkdTyMIPCl2pfklbkxsOEjBEb88jUpkt6++EyRvKLJiy4JjbNRNHxx2Ga9D6C6tJhdY57Yw36WevfOXy0yHNpsshRzRhBPY4XCqilPz7LwSe6rypKJI3HRg3qWo71SnlrfMbd6PdJC7zcuYH5OO8bgb8jo2H8Tp+++zT6xlDfNjuET2uK0z9eB00coWgggOHMIIDgzCCAuygAwIBAgIBADANBgkqhkiG9w0BAQUFADCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwMjEzMTAxMzE1WhcNMzUwMjEzMTAxMzE1WjCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMFHTt38RMxLXJyO2SmS+Ndl72T7oKJ4u4uw+6awntALWh03PewmIJuzbALScsTS4sZoS1fKciBGoh11gIfHzylvkdNe/hJl66/RGqrj5rFb08sAABNTzDTiqqNpJeBsYs/c2aiGozptX2RlnBktH+SUNpAajW724Nv2Wvhif6sFAgMBAAGjge4wgeswHQYDVR0OBBYEFJaffLvGbxe9WT9S1wob7BDWZJRrMIG7BgNVHSMEgbMwgbCAFJaffLvGbxe9WT9S1wob7BDWZJRroYGUpIGRMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAIFfOlaagFrl71+jq6OKidbWFSE+Q4FqROvdgIONth+8kSK//Y/4ihuE4Ymvzn5ceE3S/iBSQQMjyvb+s2TWbQYDwcp129OPIbD9epdr4tJOUNiSojw7BHwYRiPh58S1xGlFgHFXwrEBb3dgNbMUa+u4qectsMAXpVHnD9wIyfmHMYIBmjCCAZYCAQEwgZQwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0xNTAyMjAxMjA1MjFaMCMGCSqGSIb3DQEJBDEWBBQLudxfb97TbU47AQAedM6svdmIDzANBgkqhkiG9w0BAQEFAASBgANN5H4oOn2OUJ/FKcInItl5kNtqZ8+yhKonERiJH+CFAui5B/D3B0hxAIPbGAgbuzwU50zCOuW+YLKGVdokbRVevgaOgx7TiKL1fifQO1OwEsxeAsyMAXq6njP83D9EUZKSlHwKUPvknWhSM6HljVBck2XtzjMq90h/ieYPCawj-----END PKCS7-----')
          button.btn.waves-effect.waves-light.red.lighten-3(type='submit', name='action', alt='PayPal - The safer, easier way to pay online!')
            | Mời cafe
      .col.l4.s12
        h5.white-text Tham gia phát triển project
        p.grey-text.text-lighten-4
          | Ứng dụng này đang trong giai đoạn thử nghiệm, có thể vẫn còn nhiều bug và các tính năng chưa hoàn thiện hoàn toàn, vì vậy rất mong nhận được sự đóng góp của các bạn.
        a.btn.waves-effect.waves-light.red.lighten-3(target='_blank', href='https://github.com/nguyenvanduocit/MusicEngine') Fork mã nguồn
      .col.l4.s12(style='overflow: hidden;')
        h5.white-text Bản quyền
        p.grey-text.text-lighten-4
          | Trong ứng dụng này có sử dụng nhiều thư viện nguồn mở khác nhau. Với các ràng buộc về bản quyền từ nhiều phía, project này không cho phép phát hành lại dưới mục đích lợi nhuận, cũng như thế ghi nhận tác giả của project ,ác tác giả có đóng góp và tác giả của các thư viện được sử dụng.
  .footer-copyright
    .container
      | © 2015 Sen Việt, All rights reserved.
      a.grey-text.text-lighten-4.right(href='https://github.com/Dogfalo/materialize/blob/master/LICENSE') MIT License