header
  .container
    a.button-collapse.top-nav.waves-effect.waves-light.circle.hide-on-large-only(href='#', data-activates='nav-mobile')
      i.mdi-navigation-menu
  ul#nav-mobile.side-nav.fixed
    li.logo
      a#logo-container.brand-logo(href='http://materializecss.com/')
        img(src="/images/LOGO-ME.png", width="100%")
    li#memberListRegion