header
  .container
    a.button-collapse.top-nav.waves-effect.waves-light.circle.hide-on-large-only(href='#', data-activates='nav-mobile')
      i.mdi-navigation-menu
  ul#nav-mobile.side-nav.fixed
    li.logo
      a#logo-container.brand-logo(href='http://materializecss.com/')
        object#front-page-logo(type='image/svg+xml', data='/images/materialize.svg') Your browser does not support SVG
    li.bold
      a.waves-effect.waves-teal(href='about.html') About
    li.bold
      a.waves-effect.waves-teal(href='getting-started.html') Getting Started
    li.no-padding
      ul.collapsible.collapsible-accordion
        li.bold
          a.collapsible-header.waves-effect.waves-teal CSS
          .collapsible-body
            ul
              li
                a(href='color.html') Color
              li
                a(href='grid.html') Grid
              li
                a(href='helpers.html') Helpers
              li
                a(href='media-css.html') Media
              li
                a(href='sass.html') Sass
              li
                a(href='shadow.html') Shadow
              li
                a(href='table.html') Table
              li
                a(href='typography.html') Typography
        li.bold
          a.collapsible-header.waves-effect.waves-teal Components
          .collapsible-body
            ul
              li
                a(href='badges.html') Badges
              li
                a(href='buttons.html') Buttons
              li
                a(href='cards.html') Cards
              li
                a(href='chips.html') Chips
              li
                a(href='collections.html') Collections
              li
                a(href='footer.html') Footer
              li
                a(href='forms.html') Forms
              li
                a(href='icons.html') Icons
              li
                a(href='navbar.html') Navbar
              li
                a(href='pagination.html') Pagination
              li
                a(href='preloader.html') Preloader
        li.bold
          a.collapsible-header.waves-effect.waves-teal JavaScript
          .collapsible-body
            ul
              li
                a(href='collapsible.html') Collapsible
              li
                a(href='dialogs.html') Dialogs
              li
                a(href='dropdown.html') Dropdown
              li
                a(href='media.html') Media
              li
                a(href='modals.html') Modals
              li
                a(href='parallax.html') Parallax
              li
                a(href='pushpin.html') Pushpin
              li
                a(href='scrollfire.html') ScrollFire
              li
                a(href='scrollspy.html') Scrollspy
              li
                a(href='side-nav.html') SideNav
              li
                a(href='tabs.html') Tabs
              li
                a(href='transitions.html') Transitions
              li
                a(href='waves.html') Waves
    li.bold
      a.waves-effect.waves-teal(href='http://materializecss.com/mobile.html') Mobile
    li.bold
      a.waves-effect.waves-teal(href='showcase.html') Showcase
