doctype html
html
  head
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans')
    link(rel='stylesheet', href='/css/style.css')
    script(src='components/jquery/dist/jquery.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/index.js')
    title MusicEngine
  body
    h1 Super Awesome Chatroom
    form#submitForm
      div
        label Name
        input(type="text", name='name')#songName
      div
        label Url
        input(type="text", name='url')#songURL
      div
        input(type="submit", value="Submit",disabled=true)#submitButton
    div
      ul#songList
    div
      ul#memberList