doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Inconsolata')
    link(rel='stylesheet', href='http://fonts.googleapis.com/icon?family=Material+Icons')
    link(href="/css/materialize.css",rel="stylesheet",media="screen,projection")
    meta(name="theme-color", content="#EE6E73")
    script(src='/components/moment/moment.js')
    script(src='/components/jquery/dist/jquery.min.js')
    script(src='/components/underscore/underscore-min.js')
    script(src='/components/backbone/backbone-min.js')
    script(src='/components/marionette/lib/backbone.marionette.min.js')
    script(src='/socket.io/socket.io.js')
    title MusicEngine
  body
    include index-header
    main
      #index-banner.section.no-pad-bot
        .container
          h1.header.center MUSIC ENGINE
          .row.center
            h4.header.col.s12.light.center The player for team, Blend your office with all music
          .row.center
            a#download-button.btn-large.waves-effect.waves-light(href='/room') Get Started
          .row.center
            a.red-text.text-lighten-4(href='https://github.com/Dogfalo/materialize') alpha release v0.97.0
          br
        .github-commit
          .container
            .commit
              | Latest Commit on Github:
              a.sha(href='')
              span.date
              a#github-button.btn-flat.right.grey-text.text-lighten-5.waves-effect.waves-light.hide-on-small-only(href='https://github.com/Dogfalo/materialize') Github
      .container
        .section
          .row
            .col.s12.m8.offset-m2
              br
              img#responsive-img(src='/images/responsive.png')
          .row
            h3.col.s12.light.center.header MusicEngine help to connect people with one speaker.
            div#loginRegion
            div#songSubmitRegion
            div#controlerRegion
            div#messageRegion
            div#playListRegion
          // Promo Section
          .row
            .col.s12.m4
              .center.promo
                i.material-icons flash_on
                p.promo-caption Song submition
                p.light.center
                  | All member in team can create account then they can submit the song for team's playlist
            .col.s12.m4
              .center.promo
                i.material-icons group
                p.promo-caption Vote
                p.light.center
                  | All member can vote for the action to the song, may  skip the bad song
            .col.s12.m4
              .center.promo
                i.material-icons settings
                p.promo-caption Easy to setup
                p.light.center
                  | The only one thing you have to do is access the room's page, the input your name, and then you can submit the song for all team
    include footer
    script(type="text/template")#login-template.
      <form id="loginForm">
        <label for="loginForm_userName">Username</label>
        <input name="username" id="loginForm_userName">
        <input type="submit">
      </form>
    script(type="text/template")#songsubmit-template.
      <form id="songSubmitForm">
      <label for="songSubmitForm_url">url</label>
      <input name="url" id="songSubmitForm_url">
      <input type="submit">
      </form>
    script(type="text/template")#playlist-template.
      <ul></ul>
    script(type="text/template")#messageList-template.
      <ul></ul>
    script(type="text/template")#messageItem-template.
      <li id={{=id}}>{{=username}} : {{=msg}}</li>
    script(type="text/template")#songItem-template.
      <li id={{=id}}>{{=own}} : {{=name}}<i class="status"></i><i class="duration"></i></li>
    script(type="text/template")#listViewEmpty-template.
      <strong>There are no item on the list</strong>
    script(type="text/template")#controler-template.
      <label for="volume_control">Volume</label>
      <input readonly type="range" min="0" max="1" name="volume" step=".1" id="volume_control"/>
    script(src='/js/materialize.js')
    script(src='/js/jquery.timeago.min.js')
    script(src='/js/init.js')
