doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Inconsolata')
    link(rel='stylesheet', href='http://fonts.googleapis.com/icon?family=Material+Icons')
    link(href="/css/materialize.css",rel="stylesheet",media="screen,projection")
    meta(name="theme-color", content="#EE6E73")
    script(src='/components/moment/moment.js')
    script(src='/components/jquery/dist/jquery.js')
    script(src='/components/underscore/underscore.js')
    script(src='/components/backbone/backbone.js')
    script(src='/components/marionette/lib/backbone.marionette.js')
    script(src='/socket.io/socket.io.js')
    title MusicEngine
  body
    include header
    main
      #index-banner.section.no-pad-bot
        .container(style="margin-top: 122px;margin-bottom: 100px;")
          h1.header.center
            img#responsive-img(src='/images/LOGO-ME-invert.png')
          .row.center
            h4.header.col.s12.light.center ÂM NHẠC - LẮNG ĐỘNG CHO ĐAM MÊ VÀ SÁNG TẠO.
          .row.center
            a#download-button.btn-large.waves-effect.waves-light(href='/room') BẮT ĐẦU TẠO PHÒNG
          br
        .github-commit
          .container
            .commit
              | Latest Commit on Github:
              a.sha(href='')
              span.date
              a#github-button.btn-flat.right.grey-text.text-lighten-5.waves-effect.waves-light.hide-on-small-only(href='https://github.com/nguyenvanduocit/MusicEngine') Xem trên Github
      .container
        .section(style="margin-top: 31px;")
          .row
            h3.col.s12.light.center.header
              | NGHE NHẠC CÙNG NHAU THẬT DỄ DÀNG
            div#loginRegion
            div#songSubmitRegion
            div#controlerRegion
            div#messageRegion
            div#playListRegion
          // Promo Section
          .row
            .col.s12.m4
              .center.promo
                i.material-icons group
                p.promo-caption Chơi nhạc theo nhóm
                p.center
                  | Các thành viên tham gia room sẽ submit bài hát mà mình thích lên playlist của room, các bài nhạc này sẽ được chơi tuần tự.
            .col.s12.m4
              .center.promo
                i.material-icons thumb_down
                p.promo-caption Vote
                p.center
                  | Mọi thành viên có quyền vote một bài nhạc không phù hợp nào đó, Khi đủ số lượng vote đạt mức nhất định thì bài hát sẽ bị bỏ qua.
            .col.s12.m4
              .center.promo
                i.material-icons library_music
                p.promo-caption Lượng nhạc lớn
                p.center
                  | MusicEngine hỗ trợ tất cả các bài hát đơn được cung cấp bởi hệ thống của mp3.zing.vn và sẽ hỗ trợ cho tất cả các trang nhạc.
        .divider
        .section
          .row.center
            h3.light.header DÀNH CHO DEVELOPER
            p.col.s8.offset-s2.caption
              | Ứng dụng này đang trong giai đoạn thử nghiệm, có thể vẫn còn nhiều bug và các tính năng chưa hoàn thiện hoàn toàn, vì vậy rất mong nhận được sự đóng góp của các bạn.
              | Để phát triển project này, vui lòng fork project theo button bên dưới, khi đã xong hãy tạo pull request.
            a.btn-large.waves-effect.waves-light(href='https://github.com/nguyenvanduocit/MusicEngine') Fork project trên github
    include footer
    script(type="text/template")#login-template.
      <form id="loginForm">
        <label for="loginForm_userName">Username</label>
        <input name="username" id="loginForm_userName">
        <input type="submit">
      </form>
    script(type="text/template")#songsubmit-template.
      <form id="songSubmitForm">
      <label for="songSubmitForm_url">url</label>
      <input name="url" id="songSubmitForm_url">
      <input type="submit">
      </form>
    script(type="text/template")#playlist-template.
      <ul></ul>
    script(type="text/template")#messageList-template.
      <ul></ul>
    script(type="text/template")#messageItem-template.
      <li id={{=id}}>{{=username}} : {{=msg}}</li>
    script(type="text/template")#songItem-template.
      <li id={{=id}}>{{=own}} : {{=name}}<i class="status"></i><i class="duration"></i></li>
    script(type="text/template")#listViewEmpty-template.
      <strong>There are no item on the list</strong>
    script(type="text/template")#controler-template.
      <label for="volume_control">Volume</label>
      <input readonly type="range" min="0" max="1" name="volume" step=".1" id="volume_control"/>
    script(src='/js/materialize.js')
    script(src='/js/jquery.timeago.min.js')
    script(src='/js/init.js')
