doctype html
head
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans')
    link(rel='stylesheet', href='/css/style.css')
    script(src='/components/jquery/dist/jquery.min.js')
    script(src='/components/underscore/underscore-min.js')
    script(src='/components/backbone/backbone-min.js')
    script(src='/components/marionette/lib/backbone.marionette.min.js')
    script(src='/socket.io/socket.io.js')
    title Player
html
  body
    h1 Player
    div#playerRegion
    div#controlRegion
    div#playListRegion
    script(type="text/template")#playlist-template.
        <ul></ul>
    script(type="text/template")#songItem-template.
        <li data-url={{=url}}>{{=name}} : {{=url}}</li>
    script(type="text/template")#player-template.
        <audio id="player" src="http://stream7.mp3.zdn.vn/fsfsdfdsfdserwrwq3/86fce6937be3b072b77a073b84282805/559d1b29/2015/01/20/4/c/4c991ce037abfcd0b877a45e6e98ef8a.mp3" preload="auto" controls></audio>
    script(src='/js/player.js')