doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Inconsolata')
    link(rel='stylesheet', href='http://fonts.googleapis.com/icon?family=Material+Icons')
    link(href="/css/materialize.css",rel="stylesheet",media="screen,projection")
    link(href="/css/style.css",rel="stylesheet",media="screen,projection")
    meta(name="theme-color", content="#EE6E73")
    script(src='/components/moment/moment.js')
    script(src='/components/jquery/dist/jquery.min.js')
    script(src='/components/underscore/underscore-min.js')
    script(src='/components/backbone/backbone-min.js')
    script(src='/components/marionette/lib/backbone.marionette.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/define.js')
    title MusicEngine
  body
    include header
    main
      #index-banner.section.no-pad-bot
        .container
          h1.header.center MUSIC ROOM
          .row.center
            a.red-text.text-lighten-4(href='https://github.com/nguyenvanduocit/MusicEngine') beta release v0.9.0
          br
        .github-commit
          .container
            .commit
              | Latest Commit on Github:
              a.sha(href='')
              span.date
              a#github-button.btn-flat.right.grey-text.text-lighten-5.waves-effect.waves-light.hide-on-small-only(href='https://github.com/nguyenvanduocit/MusicEngine') Github
      .container
        .section
          .row
            div#loginRegion
            div.col.s6
              div#currentPlayingRegion
              div#playListRegion
            div.col.s6
              div#songSubmitRegion
              div#controlerRegion
              div#messageRegion
    include footer
    include template/currentPlaying
    script(type="text/template")#login-template.
      <h3 class="light header center">Select your user name to enter the room</h3>
      <form id="loginForm">
        <div class="row" style="margin-top: 65px">
          <div class="col col s4 offset-s3">
            <div class="input-field">
              <input name="username" id="loginForm_userName" type="text">
              <label for="loginForm_userName">Your name</label>
            </div>
          </div>
          <div class="col s4">
            <button class="waves-effect waves-light btn-large" type="submit">Submit</button>
          </div>
        </div>
      </form>
    script(type="text/template")#songsubmit-template.
      <form id="songSubmitForm" style="margin-top: 25px">
        <div class="row">
          <div class="col s9">
            <div class="input-field">
              <input name="url" id="songSubmitForm_url" type="text">
              <label for="songSubmitForm_url">The song's URL in mp3.zing.vn</label>
            </div>
          </div>
          <div class="col s3">
            <button class="waves-effect waves-light btn-large" type="submit">Submit</button>
          </div>
        </div>
      </form>

    include template/playlist
    include template/member
    script(type="text/template")#messageList-template.
      <ul></ul>

    script(type="text/template")#messageItem-template.
      <div id={{=id}}>{{=username}} : {{=msg}}</div>

    script(type="text/template")#listViewEmpty-template.
      <strong>There are no item on the list</strong>

    script(type="text/template")#controler-template.
      <input type="range" min="0" max="1" name="volume" step=".05" id="volume_control"/>

    script(src='/js/materialize.js')
    script(src='/js/jquery.timeago.min.js')
    script(src='/js/init.js')
    script(src='/js/room.js')
    script(src='/js/memberList.js')