doctype html
html
  head
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700')
    script(src='/components/moment/moment.js')
    script(src='/components/jquery/dist/jquery.min.js')
    script(src='/components/underscore/underscore-min.js')
    script(src='/components/backbone/backbone-min.js')
    script(src='/components/marionette/lib/backbone.marionette.min.js')
    script(src='/socket.io/socket.io.js')
    title MusicEngine
  body
    div#loginRegion
    div#playListRegion
    div#songSubmitRegion
    script(type="text/template")#login-template.
      <form id="loginForm">
        <label for="loginForm_userName">Username</label>
        <input name="username" id="loginForm_userName">
        <input type="submit">
      </form>
    script(type="text/template")#songsubmit-template.
      <form id="songSubmitForm">
      <label for="songSubmitForm_url">url</label>
      <input name="url" id="songSubmitForm_url">
      <input type="submit">
      </form>
    script(type="text/template")#playlist-template.
      <ul></ul>
    script(type="text/template")#songItem-template.
      <li data-url={{=url}}>{{=name}} : {{=url}}</li>
    script(src='/js/room.js')