#currentPlayingContainer .show_on_playing,
#currentPlayingContainer .show_on_noplayer,
#currentPlayingContainer .show_on_playerconnected,
#currentPlayingContainer .show_on_nosong{
    display: none;
}
#currentPlayingContainer.playing .show_on_playing{
    display: block !important;
}
#currentPlayingContainer.noplayer .show_on_noplayer{
    display: block !important;
}
#currentPlayingContainer.nosong .show_on_nosong{
    display: block !important;
}
#currentPlayingContainer.playerconnected .show_on_playerconnected{
    display: block !important;
}