script(type="text/template")#currentPlaying-template.
  <div id="currentPlayingContainer" class="noplayer">

    <div class="card small show_on_playing" id="currentPlaying">
      <div class="card-image">
        <img class="backgroundImage" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=629&h=150">
        <span class="card-title title">Player is not connected</span>
      </div>
      <div class="card-content">
        <p>This is placeholder for lyric. Lyric featured is been developing.</p>
      </div>
      <div class="card-action">
        <a href="#" class="vote" data-action="next">Vote next <span class="voteCount text-deep-orange darken-3"></span></a>
        <span class="badge duration"></span>
      </div>
    </div>

    <div class="card small show_on_noplayer" id="noplayer">
      <div class="card-image">
        <img class="backgroundImage" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=629&h=150">
        <span class="card-title title">Player is not connected</span>
      </div>
      <div class="card-content">
        <p>The player is not connected, so your song can not be played, but you can submit the song.</p>
      </div>
    </div>

    <div class="card small show_on_nosong" id="nosong">
      <div class="card-image">
        <img class="backgroundImage" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=629&h=150">
        <span class="card-title title">No song</span>
      </div>
      <div class="card-content">
        <p>The player is not connected, so your song can not be played, but you can submit the song.</p>
      </div>
    </div>

    <div class="card small show_on_playerconnected" id="playerconnected">
      <div class="card-image">
        <img class="backgroundImage" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=629&h=150">
        <span class="card-title title">Player is connected</span>
      </div>
      <div class="card-content">
        <p>The player is connected, but not playing. you can add your song now.</p>
      </div>
    </div>
  </div>

