script(type="text/template")#playlist-template.
  <ul></ul>
script(type="text/template")#songItem-template.
  <div id="{{=id}}">
    <img src="{{=image}}" alt="" class="circle">
    <span class="title orange-text darken-4">{{=name}}<span class="duration badge"></span></span> - {{=performer}}<p><i>requested by</i> {{=own}}</p>
  </div>